.flaticon-001-psychology:before {
	content: "\e001";
}
.flaticon-002-discussion:before {
	content: "\e002";
}
.flaticon-003-capitol-building:before {
	content: "\e003";
}
.flaticon-004-lightbulb-idea:before {
	content: "\e004";
}
.flaticon-005-chronometer:before {
	content: "\e005";
}
.flaticon-006-team-leader:before {
	content: "\e006";
}
