@font-face {
  font-family: 'knowhow19';
  src:  url('fonts/knowhow19.eot?brclta');
  src:  url('fonts/knowhow19.eot?brclta#iefix') format('embedded-opentype'),
    url('fonts/knowhow19.ttf?brclta') format('truetype'),
    url('fonts/knowhow19.woff?brclta') format('woff'),
    url('fonts/knowhow19.svg?brclta#knowhow19') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="event"], [class*=" event"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knowhow19' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eventbvm1:before {
  content: "\e90a";
}
.eventlogo:before {
  content: "\e909";
}
.eventcvm:before {
  content: "\e906";
}
.eventlogo1:before {
  content: "\e907";
}
.eventbvm:before {
  content: "\e908";
}
.eventm:before {
  content: "\e905";
}
.eventa:before {
  content: "\e900";
}
.eventc:before {
  content: "\e901";
}
.events:before {
  content: "\e902";
}
.eventah:before {
  content: "\e903";
}
.eventv:before {
  content: "\e904";
}
